/* CSS reset for basic styling */

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
img {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: #E5E5E5;
  background-color: #000000;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.all-content {
  margin-left: 50px;
  margin-right: 50px;
}

header {
  background-color: #14213D;
  margin-bottom: 20px;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
  color: #E5E5E5;
  cursor: pointer;
}

nav ul li {
  display: inline-block;
}

nav ul {
  list-style: none;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 20px;
  font-size: large;
}


.container {
  display: flex;
  flex-wrap: wrap;
}

.interface {
  flex: 1 1 300px;
  text-align: center;
}

.interface h1{
  color: #FCA311;
}
.interface p {
  color: #E5E5E5;
  font-size: large;
  font-size: 1.1rem;
  font-weight: 600;
}

.interface .about-me p{
  margin-top: 20px;
  color: #E5E5E5;
}
.interface .contact p
{
  font-size: larger;
  color: #FCA311;
  padding-bottom: 20px;
}
.interface img {
  height: 200px;
  border-radius: 100px;
  margin: 20px;
}

.contact {
  text-align: left;
  margin-top: 20px;
}

.contact ul li a {
  font-size: 1.2rem;
  color: #E5E5E5;
  margin-bottom: 10px;
  margin-left: 10px;
  text-decoration: none;
}

.social-icons1 li {
  margin-bottom: 15px;
}

.social-icons1 {
  list-style: none;
  padding: 0;
}

.social-icons1 a i.fa-github {
  color: grey;
}

.social-icons1 a i.fa-linkedin {
  color: #0077b5;
}

.social-icons1 a i.fa-facebook {
  color: #1877f2;
}

.social-icons1 a i.fa-twitter {
  color: #1877f2;
}


/* Your existing styles go here */

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  text-align: center;
  padding: 50px 0;
  margin: 20px;
  border: 2px solid;
  border-radius: 20px;
  border-color: #14213D;
  box-shadow: 0 2px 4px rgba(252, 0, 0, 0.1);
}

.head{
  color: #333;
  font-size: 24px;
  margin: 0; /* Remove margin to eliminate the white space */
  grid-column: 1 / span 2; /* Make the header span both columns */
}
.projects .head h2
{
  color: #FCA311;
}
.projects .head p{
  margin: 15px;
  color: #E5E5E5;
}

.project-card {
  max-width: 300px;
  margin: 0 auto 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-card img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project-card h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 5px;
}

.project-card p {
  color: #666;
  font-size: 14px;
}

.certificates {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  text-align: center;
  padding: 50px 0;
  margin: 20px;
  border: 2px solid;
  border-radius: 20px;
  border-color: #14213D;
  box-shadow: 0 2px 4px rgba(252, 0, 0, 0.1);
}
.certificates .head h2
{
  color: #FCA311;
}
.certificates .head p{
  margin: 15px;
  color: #E5E5E5;
}

.certificate-card {
  max-width: 300px;
  margin: 0 auto 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.certificate-card img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.certificate-card h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 5px;
}

.certificate-card p {
  color: #666;
  font-size: 14px;
}


footer {
  background-color: #14213D;
  padding: 30px 0;
  color: #E5E5E5;
  font-size: 14px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contact-links {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.contact-links li {
  margin: 0 10px;
}
.contact-links a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  color: #E5E5E5;
}
.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 10px;
}
